@page "/ReservationFinalization"
@rendermode InteractiveServer

<PageTitle>ReservationFinalization</PageTitle>

<div style="text-align: center;">
    <h1>KINO</h1>
    <p>Vaše rezervace je potvrzena</p>
</div>